@import 'styles/colors.scss';

.newslist_container {
  ol {
    margin-bottom: 15px;

    li {
      margin-bottom: 5px;

      span {
        cursor: pointer;
        display: inline-block;
        min-width: 400px;
        border-bottom: 1px dashed #aaa;
      }

      button {
        margin-left: 10px;
        min-width: 150px;
        padding: 2px;
      }
    }
  }
}

.news_form {
  ul {
    li {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      margin: 10px 0;
    }

    button {
      padding: 5px;
      margin-right: 5px;
    }

    select {
      width: 100%;
    }

    textarea {
      font-size: 20px;
    }
  }

  .warning_message {
    color: $warning-color;
    font-size: 20px;
  }
}
